/*|=============================================|
    GENERAL STYLING
|===============================================|*/
@import './../../styles.scss';

.r3-main-kontainer {
    display: flex;
    // overflow: hidden;
    margin-top: 2em;
    // padding-left: 1em;
    //   width: 90vw;

    min-width: 600px;
    max-width: 1100px;
    // position: absolute;
    height: auto; // 5000px;
    margin-bottom: 1em;
    // align-items: center;
    //   justify-content: center;
    background: $rlgColorTertiaryQtr;
    box-shadow: $box-shadow2;
    border-radius: 0 0 1em 1em;
    border: 1px solid red;
}
