
<div class="main-kontainer">

  <div class="top-kontainer">

      <div class="top-left-kontainer">
        <!-- space for logo -->
      </div>

      <!-- TOP MAIN CONTAINER -->
      <div class="top-main-kontainer">
          <div class="title">
              R.LLOYD GONZALES
          </div>

          <div class="sub-title">
              UI DESIGNER • ANGULAR DEVELOPER
          </div>

      </div>

  </div>

  <div class="kontent-kontainer">

    <div class="left-kontainer">
      <!-- [style.height.vh]="'100'" -->
      <div class="contact-kontainer">

        <!-- CONTACT INFO -->
        <div class="info-kontainer">
          <!-- [style.backgroundColor]="'rgba(#347B98, .25)'" -->


          <div class="header contact-header">
              <i class="material-icons resume-icons">home</i>
              Contact Info:
          </div>

          <div class="address contact">
            226 Chase Drive <br>
            Somerdale, NJ 08083
          </div>

          <div class="phoneNumber contact">
            (856)383-7203
          </div>

          <div class="emailAddress contact">
              <!-- [style.textTransform]="'lowercase'" -->
            rolandolloyd@gmail.com
          </div>

          <div class="website contact">
            RLloydGonzales.com
          </div>

        </div>

        <!-- EDUCATION -->
        <div class="edu-kontainer">

          <div class="header education-header">
              <i class="material-icons resume-icons">school</i>
              Education:
          </div>

          <div class="pratt school">
            PRATT Institute <br>
            New York, N.Y.
          </div>

          <div class="feu school">
            Far Eastern University <br>
            Manila, Philippines
          </div>

        </div>

        <!-- SOCIAL -->
        <div class="social-kontainer">
          <div class="header social-header">
              <i class="material-icons resume-icons">group</i>
              Social Medias:
          </div>
            <div class="socials">
                <i class="fab social-fab fa-1x fa-linkedin" title="LINKED-IN"></i>
                <i class="fab social-fab fa-1x fa-facebook-square" title="FACEBOOK"></i>
                <i class="fab social-fab fa-1x fa-twitter-square" title="TWITTER"></i>
                <i class="fab social-fab fa-1x fa-instagram" title="INSTAGRAM"></i>
            </div>
        </div>

        <!-- TECHNOLOGY -->
        <div class="tech-kontainer">
            <div class="header tech-header">
                <i class="material-icons resume-icons">computer</i>
                Technology:
            </div>
              <div class="tech">
                  <i class="fab tech-fab fa-1x fa-html5" title="HTML5"></i>
                  <i class="fab tech-fab fa-1x fa-css3" title="CSS3"></i>
                  <i class="fab tech-fab fa-1x fa-js-square" title="ES2015"></i>
                  <i class="fab tech-fab fa-1x fa-angular" title="ANGULAR"></i> <br>
                  <i class="fab tech-fab fa-1x fa-adobe" title="PHOTOSHOP & ILLUSTRATOR"></i>
                  <i class="fab tech-fab fa-1x fa-github-square" title="GITHUB"></i>
                  <i class="fab tech-fab fa-1x fa-node-js" title="NODE-JS"></i>
              </div>
          </div>


      </div>

    </div>

    <div class="right-kontainer"
      [style.width.%]="'70'"
      [style.paddingLeft.px]="'0'"
      [style.border]="'0px solid purple'"
      >

      <app-experience></app-experience>



      </div>


  </div>

</div>